{% extends 'blog/base.html' %}
{% block title %}Create Post{% endblock %}
{% block content %}
<div class="card shadow p-4 mx-auto" style="max-width: 700px;">
  <h3 class="text-center text-success mb-3 fw-bold">🪴 Create a New Post</h3>

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label text-success fw-semibold">Title</label>
      <input type="text" name="title" class="form-control border-success" required>
    </div>

    <div class="mb-3">
      <label class="form-label text-success fw-semibold">Content</label>
      <textarea name="content" rows="5" class="form-control border-success" required></textarea>
    </div>

    <div class="mb-3">
      <label class="form-label text-success fw-semibold">Upload Image</label>
      <input type="file" name="image" accept="image/*" class="form-control border-success">
    </div>

    <button type="submit" class="btn btn-success w-100 py-2">Publish</button>
  </form>
</div>
{% endblock %}
